html { font-size: 16px; }

body {
	background-image: url(background.jpg);
	background-size: cover;
}

img { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

h1 {
	margin: 20px 0 10px 0;
	color: white;
	font-size: 3em;
	font-family: 'Saira Stencil One', cursive, sans-serif;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

article {
	width: 1024px;
	margin: 0 auto;
	padding: 5px;
	padding-left: 0px;
	text-align: center;
}

.main-content {
	width: 600px;
	height: 480px;
	padding: 5px; 
	margin: 0 30px 0 15px;
	font-size: 1.1em;
	background-color: rgba(242, 242, 242, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	float: left;
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; }
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

ol li {
	padding: 5px 0 5px 10px;
	margin: 0 15px 5px 0;
	font-family: 'Asap', sans-serif;
	text-align: left;
	font-weight:bold;
	border-bottom: 2px solid lightgray;
	cursor: pointer;
}

li > p {
	margin: 0;
	font-size: 1.3em;
	font-weight:normal;
}

li > ul > li {
	font-weight:normal;
	border-bottom: none;
}

li:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
a:hover { text-decoration: underline; }

a {
	text-decoration: none;
	color: #244b76;
}

p > span { color: #244b76; }
